.product-list-style-64 {
    --i-go-ic: '\e971';
    --i-go-w: 40px;
    --i-go-bkg: @btn_primary_background;
    --i-go-txt: @btn_primary_text;
    --i-go-bd: @btn_primary_border;
    --ic-txt: #fff;
    --ic-bkg: #a1a1a1;
    --ic-w: 35px;
    --ic-fs: 18px;
    --ic-dp: flex;
    --lb-os: 20px;
    --ic-os: 15px;
    --if-pd: 15px;
    --ic-bdr: 15px;
    --name-lines: 1;
    --i-img-w: 160px;
    .cdz-product-labels{
		.prolabels-style02();
	}
    .cdz-product-labels {
        display: flex;
        flex-direction: column;
        gap: 3px;
        top: var(--lb-os);
        inset-inline: var(--lb-os) auto;
        .label-item {
            text-align: start;
        }
    }
    [class*="swatch-opt-"] {
        margin-block: 10px 5px;
    }
    .owl-item > .item-group {
        margin-block: 10px;
    }
    .item-group >  .product-item {
        margin-bottom: 10px;
    }
    .hovered-product-image-style-02();
    .product-item {
        padding: 0;
        transition: .4s;
        background: @main_box_background;
        border: 1px solid @main_box_border;
        border-radius: 15px;
        overflow: hidden;
        //.abs-product-hover-img-slide();
        .price-box {
            margin-bottom: 10px;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            align-items: baseline;
            .price {
                font-size: 150%;
                font-weight: 500;
            }
        }
    }
    .product-item-info {
        display: flex;
    }
    .special-price {
        order: -1;
    }
    .old-price {
        text-decoration: none;
        position: relative;
        margin: 0;
        .price[class] {
            font-size: 120%;
            font-weight: normal;
        }
        &:after {
            position: absolute;
            content: '';
            width: 80%;
            height: 1px;
            border-bottom: 1px solid;
            transform: rotateZ(-23deg);
            top: 50%;
            left: 10%;
        }
    }
    .product-item-top {
        margin: 0;
        position: relative;
        flex: 0 0 ~'max(30%, var(--i-img-w))';
        padding: 10px;
    }
    .product-item-details {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: start;
    }
    .i-inner {
        flex-grow: 1;
        padding: 10px;
        padding: 10px var(--if-pd);
        text-align: start;
    }
    .product-item-name {
        margin-bottom: 10px;
    }
    .product-item-link[class] {
        font-weight: 500;
        font-size: 100%;
    }
    .product-item-brand[class] {
        color: @main_text;
    }
    .product-item-sku {
        margin-top: 10px;
        font-size: 90%;
        padding-top: 5px;
        border-top: 1px solid @main_box_border;
    }
    .description {
        margin-top: 10px;
        font-size: 90%;
    }
    .i-btn-grp {
        display: flex;
        gap: 5px;
        inset-inline: auto var(--ic-os);
        top: var(--ic-os);
        position: absolute;
        flex-direction: column;
        z-index: 2;
    }
    .product-item-photo {
        border-radius: 12px;
        overflow: hidden;
    }
    .product-item[class] {
        .qs-button,
        .action.towishlist,
        .action.tocompare {
            width: var(--ic-w);
            height: var(--ic-w);
            font-size: 0;
            display: var(--ic-dp);
            padding: 0;
            justify-content: center;
            align-items: center;
            margin: 0;
            background: transparent;
            border: none;
            color: var(--ic-txt);
            border-radius: var(--ic-bdr);
            box-shadow: none;
            transition: .5s;
            &:before {
                font: 900 normal normal var(--ic-fs)/1 CodazonFont;
                content: "\e986";
                color: inherit;
            }
        }
        .qs-button:before {
            content: "\e970";
        }
        .action.tocompare:before {
            content: "\e963";
        }
        .action.towishlist {
            background: var(--ic-txt);
            box-shadow: 0px 3px 6px 0px rgba(0,0,0,10%);
            z-index: 1;
            opacity: 1;
            display: flex;
            color: #ff3040;
        }
    }
    .i-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px var(--if-pd);
        gap: 10px;
    }
    .i-rating {
        display: flex;
        border-radius: 15px;
        padding: 5px 10px;
        font-size: 80%;
        font-weight: 500;
        background: #ffc201;
        color: #ffffff;
        &.i-rat-0 {
            background: #cbcbcb;
        }
        &:before {
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f005";
            margin-inline-end: 7px;
        }
    }
    .i-rv-count[class] {
        color: @main_text_normal;
        font-size: 90%;
        font-weight: normal;
    }
    .i-btn {
        flex-grow: 1;
        display: flex;
        justify-content: end;
    }
    .action.primary:not(:hover) {
        background: var(--i-go-bkg);
        color: var(--i-go-txt);
        border: 1px solid var(--i-go-bd);
    }
    .action.primary {
        width: var(--i-go-w);
        height: var(--i-go-w);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        span {
            display: none;
        }
        &:before {
            font: normal normal normal 18px/1 CodazonFont;
            content: '\e9a3';
        }
    }
    .product-item-photo {
        position: relative;
        display: block;
        &:after {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            content: '';
            z-index: 2;
            transition: .5s;
            background: fade(#000, 5%);
        }
    }
    @media @tablet_vertical {
        .i-btn-grp {
            transition: .5s;
        }
        .product-item[class] {
            .qs-button,
            .action.tocompare {
                opacity: 0;
                transition: .5s;
                transform: scale(0);
                &:hover {
                    background: var(--i-go-bkg);
                    color: var(--i-go-txt);
                    box-shadow: 0px 3px 6px 0px rgba(0,0,0,10%);
                }
            }
            .action.towishlist:hover:before {
                content: "\e984";
                color: #ff3040;
                background: #fff;
            }
        }
        .product-item:hover {
            box-shadow: 0px 1px 17px -2px rgba(0, 0, 0, 15%);
            .i-btn, .i-btn-grp {
                opacity: 1;
            }
            .product-item-photo:after {
                background: fade(#000, 40%);
            }
            .qs-button,
            .action.tocompare { 
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    @media (max-width: 1024px) {
        --i-img-w: 120px;
        --ic-dp: none;
        --ic-w: 25px;
        --ic-fs: 14px;
        --if-pd: 8px;
        --ic-os: 16px;
        --lb-os: 8px;
        --i-go-w: 35px;
        .i-rv-count {
            display: none;
        }
    }
}