.banner-style43 {
    --i-bdr: 30px;
    border-radius: var(--i-bdr);
    overflow: hidden;
    position: relative;
    .i-img {
        display: block;
        img {
            transition: .5s;
        }
    }
    &:hover {
        .i-img {
            img {
                
            }
        }
    }
    &:before, &:after, .i-img:before, .i-img:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: fade(#fff,20%);
        transition: transform 1s, opacity .5s;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        z-index: 1;
    }
    &:hover {
        &:before {
            opacity: 1;
            visibility: visible;
            transform: translateY(-100%);
        }
        &:after {
            opacity: 1;
            visibility: visible;
            transform: translateY(100%);
        }
        .i-img:before {
            opacity: 1;
            visibility: visible;
            transform: translateX(-100%);
        }
        .i-img:after {
            opacity: 1;
            visibility: visible;
            transform: translateX(100%);
        }
    }
    
}


