.wrapper-adv-style-25 {
    --i-img-w: 100%;
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item-image {
        width: var(--i-img-w);
        aspect-ratio: 1;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .5s;
        }
    }
    .item-title {
        margin-top: 10px;
        text-align: center;
        font-size: 90%;
    }
    @media @tablet_vertical {
        .item:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}