@footer_background:#002652;@footer_background_file:~'codazon/themelayout/images/tspr.png';@footer_background_image_option:transparent;@footer_background_normal:#000000;@footer_border:#494948;@footer_bottom_background:#000000;@footer_font:13px;@footer_hover_text:#00a2ff;@footer_text:#ffffff;@footer_text_normal:#ffffff;@footer_title_font:16px;@footer_title_text:#ffffff;@footer_top_background:#474747;@service-banner-background: #cf111a;
@service-banner-title: #fff;
@service-banner-hover-title: #f20030;
@service-banner-text: #fff;
@service-banner-hover-text: #f20030;
@service-banner-icon: #347Fd7;
@service-banner-icon-border: #347Fd7;
@service-banner-hover-icon: #347Fd7;
@service-banner-hover-icon-border: #347Fd7;
